# Ignore node_modules and dependencies
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore build output
.next

# Ignore environment files
.env*

# Ignore miscellaneous files
.DS_Store
.git
.gitignore

dist
node_modules